[submodule "Submodules/BrailleIO"]
	path = Submodules/BrailleIO
	url = https://github.com/TUD-INF-IAI-MCI/BrailleIO.git
[submodule "Submodules/DotNet_LanguageLocalization"]
	path = Submodules/DotNet_LanguageLocalization
	url = https://github.com/TUD-INF-IAI-MCI/DotNet_LanguageLocalization.git
[submodule "Submodules/DotNet_AudioRenderer"]
	path = Submodules/DotNet_AudioRenderer
	url = https://github.com/TUD-INF-IAI-MCI/DotNet_AudioRenderer.git
[submodule "Submodules/DotNet_Logger"]
	path = Submodules/DotNet_Logger
	url = https://github.com/TUD-INF-IAI-MCI/DotNet_Logger.git
[submodule "Submodules/Tangram_Interfaces"]
	path = Submodules/Tangram_Interfaces
	url = https://github.com/TUD-INF-IAI-MCI/Tangram_Interfaces.git
[submodule "Submodules/DotNet_Extensibility"]
	path = Submodules/DotNet_Extensibility
	url = https://github.com/TUD-INF-IAI-MCI/DotNet_Extensibility.git
